
body {
	color:white;
	font-family: 'Shadows Into Light Two', cursive;

}

#video{
	width:100%;
	height:700px;
}

video#videoby {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.intro {
	height: 700px;
	width: auto;
}

.introAnimada {
	height: :50em;
	width: 100%;
	margin-top: 15em;
	color: rgba(238, 237, 239, 0.83);
}

.introAnimada h1{
	text-shadow: -20px 20px 28px  black;
}

#introA {
	display: inline-block;
	float: left;
	margin-left: -4em;
    font-family: 'Six Caps', sans-serif;
	font-size: 10.5em;
}

#introB {
	display: inline-block;
	float: right;
	margin-right: -3.5em;
	font-size: 10em;
	    font-family: 'Six Caps', sans-serif;
	padding-right: 0.5em;
	font-size: 10em
}

#introC {
	clear: both;
	display: block;
	position: relative;
	top: 3em;
	font-size: 2.5em;
	margin-left: 23em;
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	width: 14%;
	transition: width 3s;

}

#introC:hover{
	border-bottom: 2px groove grey;
	width: 20%
}

#introC a {
	font-family: 'Amatic SC', cursive;
	font-size:0.9em;
	color:white;
	text-decoration: none;
}

.arrow{
	width: 5%;
	position: relative;
	margin-left: 50%;
	margin-top: 5%;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.container {


}

.header {
	border-top: 5px groove darkgrey;
	padding-top: 60px;
	height: 214px;
	width: auto;
	background-color:black;
	opacity:;
	border-bottom:2px groove darkgrey;
}

.header section {
	opacity: 0.8;
}

.header h1 {
	padding-top: 50px;
	padding-left: 2em;
	font-family: 'Six Caps', sans-serif;
	font-size: 4em;
	text-shadow: -25px 10px 15px grey;
}

.header span {
	font-family: 'Amatic SC', cursive;
	font-size:2em;
	padding-left: 2em;
}

.login {
	padding-top: 80px;
}

.login form {
	padding-left:1em;
	width: 50%;
	display: inline-block;
}

.login input {
	width:80%;
}

.login img {
	display:inline-block;
	width:10%;
	padding-left: 6em;
}

.login button {
	margin-left:;
	cursor: pointer;

}

#formularioRegistro{
	visibility: hidden;
}

.registro {
	background-color: black;
	height: 650px;
	width: 70%;
	position: absolute;
	z-index: 2;
	left: 20%;
		top: 930px;
		border: 2px dashed grey;
		opacity: 0.9;
		border-radius: 30px;
}

.registro form{

	height:430px ;
	width: 62%;
	padding-top: 1.5em;
	margin-left: 20%;

}

.registro h2{
	text-align: center;
	font-family: 'Six Caps', sans-serif;
	font-size: 5em;
	    text-shadow: -19px 11px 14px grey;
}

.registro span {
	padding-left:6em ;
	text-align: center;
}

.registro input {
		margin-left: 4em;
		box-shadow: -19px 10px 30px grey;
}

.buttons {
	margin-left: 11em;
	margin-top:0em;
}

.registro button{
	display: inline-block;
	margin-left: 5%;
	width: 37%;
	height: 23px;
	background-color: black;
	color: white;

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}



/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
		opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  	left: 65%;
		font-family: 'Amatic SC', cursive;
		font-size: 1.5em;
		margin-top: 0.5em;

/* TOPTOOL
    bottom: 100%;
    left: 50%;
    margin-left: -60px;*/

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#registrarse {
	margin-left: 15em;
}



.buscador {

}

.buscador form {
	margin-top:2em;
	margin-left: 30em;
	display:inline-block;
	width: 41em;

}

.buscador input {
	width: 50%;

}


.division {
	width:90%;
	padding-left:15em;
	box-sizing: border-box;
	height:42px
}


.main-content {

	height: 1300px;
	width: auto;
	background-color: black;

}

.main-content h1 {
	margin-left: 1em;
	font-family: 'Six Caps', sans-serif;
	font-size: 5em;
	color:#434b4f;
}

.main-content h2 {
	margin-left: 1.5em;
	margin-top: 1em;
	font-family: 'Six Caps', sans-serif;
	font-size: 3em;
	color:#434b4f;
}

.next-events {
	opacity: 0.6;
	border: 2px solid grey;
	border-radius: 10px;
	margin-top: 39px;
	margin-left: 35px;
	width: auto;
	height: 300px;
	background-image: url(background/bricks.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: -3px 2px 25px 4px #607D8B;
}

.next-events span {
	text-align: center;

}

.imgNextEvents {
	    margin-top: -10em;
}

.events {
	width: auto;
	height: 820px;
	margin-top: 20px;
	margin-right: 35px;
	border-radius: 5px;
	border: 2px dashed grey;
	opacity: 0.5;
	background-image: url(background/bricks.jpg);
	background-position: center;
	background-size:cover;
	box-shadow:-2px 1px 39px 4px #635353;
	overflow: scroll;
	overflow-x:hidden;
}



.publicaciones {
	display: inline-block;
	width: 400px;
	height: 400px;
	background-image: url(css/publicaciones/sticker5.png);
	margin-left: 2em;
}



.publicaciones h2 {
	margin-top: -9em;
margin-left: 2em;
color: black;
font-size: 2.1em;
}

.publicaciones span {
	margin-top: 2em;
    margin-left: 3em;
    color: black;
    font-size: 1.4em;
}

.publicaciones a{
	margin-left: 8em;
	color: #2491c3;
}

.publicaciones h2, span, a:hover{
	cursor: pointer;
}

.imageEvent {
	width: 75%;
	margin-left: -7em;
	margin-top: -2em;
}

.footer {
	border:1px solid grey;
	font-family: 'PT Mono', monospace;
	height:250px;
	width:auto;
	background-color:black;
	opacity:0.5;

}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top:9em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left: 16em;
	background-color: black;
}

.footer li {
	display: inline;
	background-color: black;
}

.footer li a{
	color:white;
	text-decoration:none;
}
