
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  color: white;
}

h1{
  font-family: 'Six Caps', sans-serif;
  font-size:3em;
}

h2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 2em;
  color: white;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
}

body {
  max-width: 1920px;
  font-size: 1.2em;
  overflow-x: hidden;
}

.intro {

  width: 100%;
  height: 100vh;
  min-height:100vh;
  width: 100%;
  background-color: ;
  color: white;

}

#video{
  width: 100%;
  height: 100vh;
}

video#videoby {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  max-height: 100vh;
  height: auto;
  z-index: -3;
  transform: translateX(-50%);
  background-color: black;
  -webkit-filter:blur(3px);
}

#introA{
  padding-top: 20vh;
  float:left;
  padding-left: 10vw;
  font-size: 12em;
}

#introB {
  padding-top: 20vh;
  float: right;
  padding-right: 10vw;
  font-size: 12em;
}

#introC {
  clear: both;
  position: relative;
  top: 35vh;
  left: 75vw;
  font-size: 4em;
  transition: text-decoration 5s ease;
}

#introC:hover {
  text-decoration: line-through;
  transform: rotateX(15deg);


}

.header {
  width: 100%;
  min-height: 84px;
  height: 12vh;
  background-color: black;
  color: white;
  border-bottom: 0.2px solid white;
  color: white;
  border-top: 1px solid white;
}

.header-logo{
  width: 23%;
  float: left;
}

.header-logo img{
  width: 30%;
  max-width: 282px;
  margin-left: 5vw;


}

.header-center{
  width: 54%;
  float: left;
  text-align: center;
  padding-left: 2vw;
  padding-top: 2vh;
  line-height: 2vh;
}

.header-login {
  width: 23%;
  float: right;
  display: inline-block;
}

.header-login img {
  width: 15%;
  max-width: 50px;
  display: inline-block;

}

.header-center h2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 2.5em;
  color: white;
  letter-spacing: 15px;
}

.header-center p{
  font-size: 1.5em;
  position: relative;
  top: 4vh;
}

.header-login form{
  display: inline-block;
  margin-top: 3vh;
  margin-left: 2em;
}

.header-login form button{
  display: inline-block;
    margin-top: 1vh;
    margin-left: 0.5vw;
    padding: 4px 5px;
    text-align: center;
    background-color: rgba(31, 76, 109, 0.75);
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
}

#button_close_session {
  display: inline-block;
width: 10vw;
font-family: 'Six Caps', sans-serif;
background-color: rgba(206, 23, 23, 0.63);
color: white;
letter-spacing: 3px;
top: 3vh;
position: relative;
}

.header-login input:hover{
  cursor: pointer;
}

.show_name li{
  list-style-type: none;
}

.show_name a{
  padding: 1vh 1vw;
  position: relative;
  top: 1.5vh;
  background-color: white;
  color: black;
  left: 2vw;
  font-weight: bolder;
  letter-spacing: 4px;
}


.header-login button:hover {
  cursor: pointer;
}

.header-login a {
  text-decoration: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  padding:1px 8px;
  position: relative;
  top: 0.6vh;
  left: 0.2vw;
  border-radius: 5%;
  border: 1px solid white;
  font-size: 1em;
}

.header-login a:hover {
  background-color: white;
  color: black;
}

.header-login a:visited {
  color: grey;
}

.home-text{
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 2%;
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

h2.home-text {
  color: white;
  padding-top: 6vh;
  margin-left: 2vw;
  background-color: rgba(255, 255, 255, 0.02);
}

p.home-text {
  color: white;
  width: 100%;
  max-width: 67vw;
  margin-left: 16vw;
  background-color: rgba(255, 255, 255, 0.02);
  margin-bottom: 10px;

}

.buscador {
  clear: both;
  width: 100%;
  height: 10vh;
  background-color: black;
  text-align: center;
  line-height: 10vh;
  padding-top: 3%;
  padding-bottom: 7%;
}

.buscador .busqueda {
  width: 50vw;
}

.contenido {
  background-color: black;
  height: 150vh;
}

.next-events {
  float: left;
  width: 20%;
  height: auto;
  background-color: black;
  color: #d9d9d9;
  margin-top: 4%;
}

.next-events h2{
  margin-left: 1.5em;
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow: -14px 15px 9px;
  transition: all 2s;
  top: 15vh;
  position: relative;
}

.next-events h2:hover{
  transform:rotateX(45deg);
  color: darkgrey;
  cursor: none;
}

.cartelera{
  background-image:url("../img/backgrounds/bricks.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  border-radius: 7%;
  height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 15vw;
  margin-left: 3.5vw;
  margin-top: 25vh;

}



.cartelera ul {
  list-style-type: none;
  font-family: 'Amatic SC', cursive;
  position: relative;
  top: 3vh;
  height: 1vh;

}

.cartelera li {
  padding-top: 2%;
  padding-bottom: 2%;
}

.cartelera a{
  border-bottom: 1px dashed white;
  text-decoration: none;
  color: white;
  padding-left: 1em;
  font-size: 1.3em;
  transition: all 1s;
  display: block;

}

.cartelera a:hover{
  background-color: rgba(189, 182, 182, 0.79);
  cursor: pointer;
  color: black;
  font-weight: 900;
  font-size: 1.5em;
}

.events {

    float: right;
    width: 75%;
    height: 90vh;
    background-image: url(../img/publicaciones/lights.jpg);
    background-position: center;
    background-size: cover;
    top: 15vh;
    position: relative;
    margin-bottom: 25vh;
    border-radius: 5%;
    margin-right: 2vw;

}


#addEventImg{
  width: 6%;
position: absolute;
top: -15vh;
left: 64vw;
}

.publicaciones-content{
  width: 100%;
    height: 55vh;
    position: relative;
    top: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.publicaciones {
  display: inline-block;
    width: 19vw;
    height: 46vh;
    background-color: black;
    margin: 46px 30px;
    opacity: 0.9;
    border-radius: 4%;
    margin-left: 2vw;
    z-index: 2;
    position: relative;

}


.title-publication{
    width: 19vw;
    height: 50px;
}


.publicaciones h2 {
  text-align: center;
    padding: 10px 15px;
    font-size: 2.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.img-content{
  width: 19vw;
height: 32vh;
position: relative;
top: 5vh;
}

.portada  {
  max-width: 250px;
  width: 100%;
  margin-left: 3vw;
  border-radius: 2%;
  display: inline-block;
  object-fit: contain;
}

.publicaciones span {
  color: white;
  margin-left: 2vw;
}

.publicaciones a{
  position: relative;
  top: 5vh;
  margin-left: 6vw;
}

.publicaciones p{
  color: white;
margin-left: 4vw;
display: inline-block;
padding: 5px 5px;
font-size: 2em;
font-weight: bolder;
}

.publicaciones:hover .publicaciones-b{
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.p-contenedor{
  width: 19vw;
    height: 51vh;
    display: inline-block;
    margin-right: 5vw;
    position: relative;
    margin-bottom: 10vh;

}

.publicaciones-b {
  display: inline-block;
position: absolute;
width: 18vw;
height: 44vh;
background-color: white;
opacity: 0;
border-radius: 4%;
top: 1.2vh;
left: 0.5vw;
transition: opacity 2s ease-in-out;
}

.publicaciones-b p{
  font-size: 1.5em;
padding-bottom: 3vh;
padding-top: 1vh;
color: black;
}

.publicaciones-b a{
  color: black;
    margin: 0;
    padding: 0;
    margin-left: -9vw;
    font-size: 1.1em;
    font-family: 'PT Mono', monospace;
}

#d{
  font-size: 1.1em;
width: 16vw;
left:-2vw;
height: 15vh;
padding-left: 0;
color: black;
position: relative;
}

#d::after{
  content: "...";
}

#l, #g{
  max-width: 7vw;
width: auto;
font-size: 2em;
margin-left: 1vw;
background-color: black;
color: white;
border: 1px solid black;
padding: 4px 4px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

img.rockHand{
  width:27%;
  border-radius:50%;
  display:inline-block;
  border: 1px solid darkgrey;
  top: 0.8vh;
  left: 1.5vw;
  position: relative;
  cursor: pointer;
}
.break{
  clear:both;
  width: 100vw;
  height: 5vh;
  background-color: black;
}

.myEvents {
  clear: both;
  width: 100%;
  height: 120vh;
  background-color: black;
  position: relative;

}


.MyEventsImg {
  display: inline-block;
  position: relative;
  max-width: 43%;
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  max-height: 45vh;
  height: 100%;
  box-shadow: -4px 14px 11px 11px black;
  border-radius: 8%;
  top: 5%;
  left: 3%;
  background-image: url(../img/slider/polaroid1.png);
  background-position: center;
  background-size: cover;
}

.MyEventsImg p{
  position: relative;
top: 16vh;
left: 6vw;
font-weight: bold;
font-size: 2em;
border: 3px solid black;
display: inline-block;
}


#slideshow img {
  max-width: 74%;
  width: 100%;
  left: 13%;
  position: relative;
  top: 18%;
  transition: .3s ease-in-out;
}

#slideshow img:hover {
  opacity: 0.5;

}

#box1, #box2, #box3, #box4{
  width: 800px;
  height: 50vh;
    -webkit-box-shadow: 0px 1px 1px;
  float: left;
  background-color: rgba(0, 0, 0, 0);

}



#slideshow-container {
  width: 800px;
  position: relative;
  overflow: hidden;
  margin: auto;
  top: 17vh;
  box-shadow: -1px 4px 20px 8px #333;
  border-radius: 10px;
  margin-right: 10vw;

}

#slideshow {
  width: 1000%;
  -webkit-animation: slideshow 30s infinite;
  -moz-animation: slideshow 30s infinite;
  -o-animation: slideshow 30s infinite;
  -ms-animation: slideshow 30s infinite;


}

#slideshow:hover {
  animation-play-state: paused;
  cursor: pointer;

}

#slideshow-container:hover{

  }

.infoEvent {
  display: inline-block;
	position: relative;
  width: 400px;
  height: 40vh;
  float: right;
  border-radius: 2%;
  color: white;
  background-color: rgba(72, 71, 71, 0.78);
  top: 8%;
  right: 3%;


}


.infoEvent p {
  margin: 3px 23px;
  padding: 20px 20px;
  border: 1px solid white;
  border-radius: 2%;
  color: black;
  background-color: rgba(208, 208, 208, 0.72);
  overflow: scroll;
  height: 20vh;
}

.infoEvent h2 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2.5em;
  padding: 15px 5px;
  text-shadow: -12px 8px 7px black;
}

.infoEvent span {
  right: -15vw;
  top: 5vh;
  position: relative;

}

.infoEvent a {
  color: white;
  font-family: 'PT Mono', monospace;
}

/* Animation
============================= */

@-webkit-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -800px; }
  40%, 50% {margin-left: -1600px;}
  60%, 70% {margin-left: -2400px;}
  80% {margin-left: 0;}
}

@-moz-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -800px; }
  40%, 50% {margin-left: -1600px;}
  60%, 70% {margin-left: -2400px;}
  80% {margin-left: 0;}
}

@-o-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -800px; }
  40%, 50% {margin-left: -1600px;}
  60%, 70% {margin-left: -2400px;}
  80% {margin-left: 0;}
}

@-ms-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -800px; }
  40%, 50% {margin-left: -1600px;}
  60%, 70% {margin-left: -2400px;}
  80% {margin-left: 0;}
}



.footer {
	border:1px solid grey;
	font-family: 'PT Mono', monospace;
	height:30vh;
	width:100%;
	background-color:black;
	opacity:0.5;

}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top:9em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left: 20em;
	background-color: black;
}

.footer li {
	display: inline;
	background-color: black;
}

.footer li a{
	color:white;
	text-decoration:none;
}


/* ============= REGISTRO ============ */

.contenido.registro{
  height: 140vh;
}

.formulario {
  max-width: 40vw;
  width: 100%;
  max-height: 88vh;
  height: 100%;
  background-color: rgba(72, 71, 71, 0.77);
  position: relative;
  left: 30vw;
  top: 10vh;
  border-radius: 2%;
  box-shadow: -1px 2px 24px 2px white;


}

.formulario h2 {
  text-align: center;
  font-size: 5em;
  text-shadow: -12px 8px 7px black;
}

.formulario form {
  position: relative;
  top: 5vh;
  background-color: rgba(255, 255, 255, 0.57);
  margin: 5px 100px;
  height: 60vh;
  border-radius: 2%;
  padding: 5px 200px;
  border: 1px dashed black;
    box-shadow: -1px 2px 24px 2px black;
}

.formulario label {
  position: relative;
  top: 3vh;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1em;


}


.formulario span {
  padding: 5px 5px;
  position: relative;
  text-align: center;
  letter-spacing: 2.5px;

    border-radius: 3%;

}


.formulario input {
  padding: 0px 10px;
  width: 10vw;
  height: 3vh;
  position: relative;
  top:1vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.formulario button{
  position: relative;
  top: 10vh;

}

.back {
  position: relative;
  display: inline-block;
  left: 3vw;
  top: 4vh;
  letter-spacing: 2px;
}

/* ================== PUBLICACION ==================== */

.screen_publication .contenido {
  height: 200vh;
}

.screen_publication .back {
  display: inline-block;
  position: relative;
  left: 3vw;
  top: -15vh;
  letter-spacing: 2px;
}

.screen_publication .publication-content {

  width: 100vw;
  height: 140vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-image: url("../img/backgrounds/mapachivilblack.png");
  background-position: center;
  background-size: cover;
}

.panel_admin_publication{
  width: 20vw;
  font-size: 1.5em;
  position: relative;
  left: 40vw;
  top: 5vh;
}

.panel_admin_publication a {
    display: inline-block;
    padding-right: 2vw;
    padding-left: 2vw;
    border: 1px solid rgba(15, 16, 16, 0.88);
    background-color: rgba(20, 48, 68, 0.63);
    border-radius: 9%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all 1.5s ease-in-out;
}

.panel_admin_publication a:hover{
  background-color: rgba(206, 23, 23, 0.63);
}

.publication-break {
  width: 100vw;
  height: 20vh;
  background-color: black;
}


.publication{
  display: inline-block;
  position: relative;
  width: 90vw;
  height: 120vh;
  background-color: rgba(33, 37, 39, 0.78);
  margin-left: 10vh;
  top:10vh;
  border-radius: 2%;
}

.publication .publication-img{
  display: inline-block;
  width: 30vw;
  z-index: 2;
  position: relative;
  float: left;
  margin: ;
  left: ;
  padding: 5vh 5vw;


}

.publication-img img{
  display: inline-block;
  object-fit: contain;
  height: 45vh;
  width: 30vw;
  border-radius: 2%;
  border: 2px groove grey;
}



.publication-title{
  display: inline-block;
  float: left;
  width: 65%;
  height: 20vh;
  background-color: ;
  position: relative;
  top: 15vh;
  left: 2vw;
}

.publication-title h2{
  font-size: 5em;
  position: relative;
  left:1vw;
  text-align: center;
  text-shadow: -10px 15px 20px black;
}

.publication-interactions{
  display: inline-block;
  float: right;
  width: 71%;
  height: 5vh;

  position: relative;
  top: -10vh;

}

.publication-interactions ul{
  list-style-type: none;
  width: 60vw;
  float: left;
  position: relative;
  right:10vw;
  top: 0.5vh;
  padding: 1vh 0;


}

.publication-interactions li{
  display: block;
  float: right;
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
  background-color:  rgba(0, 0, 0, 0.81);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  transition: background-color 1.5s ease-in-out;
}

.publication-interactions li:hover{
    background-color: rgba(20, 48, 68, 0.63) ;
    cursor: pointer;
    font-weight: bold;

}

.publication-info{
  display: inline-block;
  float: left;
  width: 25%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.81);
  position: relative;
  left: 3vw;
  top: -2vh;
  border-radius: 3%;
}

.publication-info h3{
  color: white;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1.5vh 1vw;
}

.publication-info p{
  color: white;
  padding: 0vh 4vw;

}

.publication-description{
  display: inline-block;
  float: right;
  width: 65%;
  height: 45vh;
  background-color: rgba(0, 0, 0, 0.81);
  position: relative;
  top: -10vh;
  right: 2vw;
  border-radius: 2%;
}

.publication-description h3{
  color: white;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 2px;
  padding: 2vh 2vw;
}

.publication-description p{
  color: white;
  padding:1vh 5vw;
}

.publication-gender{
    display: inline-block;
    clear: both;
    width: 100%;
    height: 15vh;
    background-color: ;
    position: relative;
    top: -5vh;
}

.publication-gender h2 {
    font-size: 3em;
    display: inline-block;
    width: 100%;
    padding: 0vh 1vw;
    left: 0vw;
    top: -3vh;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.83);
    color: black;
    border-radius: 2%;
    border-top: 5px dashed black;
    border-bottom: 5px dashed black;
    transition: all 3s ease-in-out;
}


.publication .myEvents {
    clear: both;
}

.publication .footer{
  position: relative;
}




/* ================ FOOTER PAGE   =================== */

.footerPage .contenido {
  height: 154vh;
}

.footerPage .back {
  display: inline-block;
  position: relative;
  left: 3vw;
  top: vh;
  letter-spacing: 2px;
}

.footer-content {
  height: 155vh;
 background-color: black;
}

.footerPage h3 {
  display: inline-block;
  text-decoration: underline;
  color: white;
  font-size: 3em;
  font-family: 'Six Caps', sans-serif;
  padding: 5px 5px;
  margin-left: 45vw;
  margin-bottom: 5vh;


}


.footerPage p {
  color: white;
  padding: 10px 50px;
  margin-left: 5vw;
}

.filtros-publicaciones {
  position: relative;
  top:14vh;
  left: 20vw;
}

.filtros-publicaciones h3{
  display: inline-block;
  position: relative;
  left: -10vw;
  top: 4vh;
  color: white;
}

/* ============================ Add Event ========================== */

  .addEvent-mainContent {
    width:100vw;
    height:100vh;
    background-image:url("../img/backgrounds/mapachivilblack.png");
    background-position:center;
    background-size:cover;
    position:relative;
    margin-top:10vh;
  }



  .screen_addEvent .back{

    top:-10vh;
  }


  .addEvent {
    width:80vw;
    height: 90vh;
    position:relative;
    margin-left:10vw;
    top:5vh;
    background-color:rgba(119, 119, 119, 0.62);
    border-radius:2%;
  }

  .addEvent h2{
    font-size:4em;
    margin-left:30vw;
    text-shadow: -17px 14px 10px black;
  }

  .addEvent-left {
    float:left;
    width:50%;
    height: 70%;
    padding:5vh 7vw;
  }

  .addEvent-right {
    float:right;
    width:50%;
    height: 70%;
    padding:5vh 5vw;
  }

  .addEvent label {
    font-family: 'Amatic SC', cursive;
    font-size:1.2em;
    font-weight:bold;
    letter-spacing:2px;
    margin-bottom:2vh;
    text-shadow: -2px 2px 10px white;

  }

  .addEvent input {
    margin-bottom:4vh;
    margin-left:2vw;

  }

  .date  {
    margin-left:2vw;
  }

  .addEvent textarea{
    margin-top:5vh;
    margin-bottom:2vh;
  }

  .upImage{
    left:38vw;
    top:-10vh;
    position:relative;
  }

  #botonEnviarEvento {
    position: relative;
    top: -10vh;
    left: 50vh;
  }

  input#enviarEvento{
    background-color: rgba(11, 19, 13, 0.67);
    color: white;
    padding: 1vh 1vw;
    transition: background-color 1s ease-in-out;
  }

  input#enviarEvento:hover{
    cursor: pointer;
    background-color: rgba(6, 66, 21, 0.67);
  }

  .black {
    background-color:black;
    width:100vw;
    height:15vh;
  }


  /* ===================== SCREEN USER ===================================== */

  .user-content{
    width: 100vw;
    height: 130vh;
    border-top: 2.5px groove #87908c;
    border-bottom: 2.5px groove #87908c;
    background-image: url("../img/backgrounds/8.png");
    background-position: center;
    background-size: cover;
  }

  .user-profile{
    width: 80vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.72);
    margin-top: 10vh;
    margin-left: 10vw;
    border-radius: 9%;
  }

  .user-image{
    width: 20%;
    height: 30vh;
    float: left;
    background-color:;
    position: relative;
    top: 6vh;
    left: 4vw;
  }

  .user-image img{
    object-fit: contain;
    height: 100%;
  }

  .user-header{
    width: 70%;
    height: 30vh;
    float: right;

    position: relative;
    top: 5vh;
    margin-right: 4vw;
    border: 1px outset #87908c;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .user-header h2{
    text-align: center;

  }

    .user-header h3{
      padding: 2vh 1vw;
      font-size: 1em;
      color: white;
    }


  .user-description {

    width: 77%;
    height: 15vh;
    position: relative;
    top:-2vh;
    left:10vw;
    color: white;
    overflow: hidden;
    background-color: white;
    }


  .user-information{
    width: 90%;
    height: 40vh;
    clear: both;
    background-color: rgba(23, 26, 28, 0.88);
    border: 2px ridge #87908c;
    border-radius: 2%;
    position: relative;
    top: 15vh;
    left: 5vw;

  }

  .break-user{
    width: 100vw;
    height: 20vh;
    background-color: black;
  }

/* ============================ MEDIA QUERY =============================== */

/* ============================ HOME =============================== */

@media(max-width: 1400px) {

  #introA{
    position: relative;
    top:0vh;
    padding-left: 0;
    margin-left: -15vw;
    font-size:7em;
  }

  #introB {
    position: relative;
    padding-left: vw;
    top : -;
    font-size: 7em;
    margin-right:-25vw;
  }

  #introC {

    font-size: 2em;
    top: 40vh;
  }

  .header {
    height: 17vh;
    font-size: 1em;
  }


  .header-center h2{
      font-size: 3em;
      letter-spacing: 5px;
  }

  .header-center p{
    font-size: 1em;
  }

  .header-login a{
    font-size: 0.9em;
  }

  p.home-text{
    font-size: 0.8em;
  }

  .cartelera a{
    font-size: 0.8em;
  }

  .cartelera a:hover{
    font-size: 0.9em;
  }

  .next-events h2{
    font-size: 2.2em;
  }

  .publicaciones-content{
    height: 60vh;
  }


  #addEventImg{
    width: 6%;
  position: absolute;
  top: -12vh;
  left: 66vw;

  border-radius: 50%;
  transition: all 1s ease-in-out;
  }

  #addEventImg:hover{
    background-color: rgba(6, 66, 21, 0.67);
    width: 7%;
    box-shadow: -5px 0px 25px green;
  }

  .p-contenedor{
      width: 19vw;
      height: 45vh;
  }

  .publicaciones{
    width: 19vw;
    height: 45vh;

  }


  .publicaciones-b{
      width: 18vw;
      height: 42vh;

  }


  .publicaciones-b {
    display: inline-block;
  position: absolute;
  width: 18vw;
  height: 44vh;
  background-color: white;
  opacity: 0;
  border-radius: 4%;
  top: 1.2vh;
  left: 0.5vw;
  transition: opacity 2s ease-in-out;
  }

  .publicaciones-b p{
    padding: 0;
    margin:0;
    font-size: 0.5em;
    color: black;
    margin-left: 1vw;

  }

  .publicaciones-b a{
    color: black;
    margin: 0;
    padding: 0;
    margin-left: -9vw;
    font-size: 0.7em;
    font-family: 'PT Mono', monospace;
  }

  #d{
    font-size: 0.8em;
    width: 16vw;
    height: 5vh;
    padding-left: 0;
  }

  #d::after{
    content: "...";
  }

  #l, #g{
    max-width: 6vw;
    width: auto;
    font-size: 1em;
    margin-left: 2vw;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 2px 2px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }

  img.rockHand{
    width:17%;
    border-radius:50%;
    display:inline-block;
    border: 1px solid darkgrey;
    top: 0.8vh;
    left: 1.5vw;
    position: relative;
    cursor: pointer;
  }

  .title-publication{
    width: 18vw;
    height: 10vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .publicaciones h2{
    font-size: 2em;
    width: 18vw;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: 1px;
    font-size: 1.8em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }

  .publicaciones p{
    margin-top: 2vh;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5%;
    font-size: 1.2em;
  }

  .portada{
    width: 84%;
  }


  .img-content{
    width: 15vw;
    height: 21vh;
    top: 0;

  }

  .img-content img.portada{
    object-fit: contain;
    height: 25vh;
  }

  .MyEventsImg{
    max-width: 20vw;
    left: 7%;
    height: 50vh;
  }

  .MyEventsImg img.img-myEvents{
    object-fit: scale-down;
    height: 20vh;
  }

  .MyEventsImg p{
    top: 15.5vh;
    left: 4vw;
    font-weight: bold;
    font-size: 1em;
  }

  .infoEvent h2{
    font-size: 2em;
  }

  .infoEvent p{
    font-size: 0.8em;
    font-weight: bold;
  }
  .infoEvent span{
      top: 1vh;
  }

  .footer{
    font-size: 0.8em;
  }

/* =========================== REGISTRO QUERYS 1400============================ */

  .contenido.registro{
    height: 160vh;
  }

  .formulario{
    max-height: 100vh;
  }

  .formulario form {
    height: 72vh;
  }

  .formulario h2{
    font-size: 3em;
    padding-top: 2vh;
  }

  .formulario span{
    left: -9vw;
    top: 2vh;
  }

  .formulario input{
    top: -6vh;
  }

  .formulario button{
    top: 1.5vh;
    left: -8vw;
    width: 15%;
  }

  .registro-buttons {
    width: 50vw;
  }

  #fb {
    width: 84%;
    height: 55vh;
  }

/* ===================== SCREEN PUBLICATION ========================*/

.panel_admin_publication{
  top:7vh;
  font-size: 0.8em;
}


} /* CIERRA MEDIA 1400PX */
